@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(bgc.jpg);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 30px 50px;
  color: black;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 1rem;
}

h1,
h2,
h3 {
  font-size: 2.6rem;
  font-weight: 500;
}

p {
  font-size: 3.5rem;
  font-weight: 500;
}

button {
  width: 120px;
  height: 50px;
  font-size: 2rem;
  background: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
}

button:hover {
  background: black;
  color: white;
}

a {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  .buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
  }
}
